<div class="header">
  <h2>Select Month</h2>
</div>

<div class="container centerify">

  <div class="back">
    <%= link_to "Back to select year", "/" %>
  </div>
  <hr>

  <% @months.each do |month| %>

    <h3><a href="/<%= params[:year] %>/<%= month %> "><%= month %></h3>

  <% end %>

</div>
