/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require dropzone/dropzone
 */
 @import "bootstrap";

 a {
  text-decoration: none;
 }

 a:hover {
   text-decoration: none;
 }

  .alert {
    height: 50px;
    margin-bottom: 0;
    text-align: center;
  }

.alert-wrapper {
  .alert {
    height: 80px;
    position: absolute;
    width: 100%;
    z-index: 999;
    top: 0;
  }

  .alert-message {
    padding: 1rem 0;
    margin: 0;
    text-align: center;
    font-size: 1rem;
  }
}

.back {
    margin-bottom: 10px;
    display: inline;
}

.right-h5 {
  float: right;
}

.centerify {
  text-align: center;
}

.container {
  width: 70%;
}

.clipboard-btn {
  height: 30px;
  width: auto;
}

.clipboard-btn:hover {
  cursor: pointer;
}

.dropzone {
  border-radius: 8px;
  background-color: #f1f1f1;
}

.dropzone.hzScroll {
    overflow: auto;
    white-space: nowrap;
}

.error-wrapper {
  .alert {
    position: absolute;
    width: 100%;
    z-index: 999;
    top: 0;
  }
  .alert-message {
    padding: 2rem 0;
    margin: 0;
    text-align: center;
    font-size: 1rem;
  }
}

 .field {
   padding-bottom: 15px;
 }

 .header {
   text-align: center;
 }

 .logo {
   width: 50px;
 }

 .login-header {
   text-align: center;
   padding-bottom: 15px;
 }

 .login-jumbo {
   padding-top: 15px;
 }

.search {
  text-align: center;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

tr {
  img {
    height: 50px;
    width: 50px;
  }
}

.upload {
  width: 50px;
}

.warning {
  color: red;
  text-align: center;
}

.yield-wrapper {
  margin: 10px;
}
