<% if notice %>
	<div class='alert alert-success'>
    <a href="#" data-dismiss="alert" class="close">X</a>
		<%= notice %>
	</div>
<% end %>

<% if alert %>
	<div class='alert alert-danger'>
    <a href="#" data-dismiss="alert" class="close">X</a>
		<%= alert %>
	</div>
<% end %>
